<div id='slide_holder'>
	<script>
		TRADE.GameData.answeroptions = [
			{title:'Thermostat', options:[
				{answerid:'0', txt:'red is open'},
				{answerid:'1', txt:'blue is open'},
				{answerid:'2', txt:'yellow is open'}
			]},
			{title:'Breaker', options:[
				{answerid:'3', txt:'breaker stuck closed'},
				{answerid:'4', txt:'breaker stuck open'}
			]},
			{title:'Transformer', options:[
				{answerid:'5', txt:'24v coil failed'},
				{answerid:'6', txt:'240v coil failed'}
			]},
			{title:'Relay', options:[
				{answerid:'7', txt:'relay stuck closed'},
				{answerid:'8', txt:'relay coil failed'}
			]},
		];
	</script>
	<script type="text/html" class='slide' id='slide1b'>
		<p>This is slide 1. </p>
		<div class='test1'>
			Hello problem
		</div>
		<%
			TRADE.CIRC.Create(700, 850);


		%>






		<% TRADE.GameData.answer = '0'; %>

	</script>

	<script type="text/html" class='slide' id='slide1'>
		<p>This is slide 2. </p>
		<% 
			TRADE.CIRC.Create(700, 350);


		%>
		<% TRADE.GameData.answer = '2'; %>
		
	</script>

	<script type="text/html" class='slide' id='slide1b'>
		<p>This is slide 3. </p>
		<div class='test1'>
			Hello World
		</div>
		<%  TRADE.CIRC.Create(700, 350);
			TRADE.CIRC.Set('problem_0', 'switch');
			TRADE.CIRC.Line1('line1', 50, 40);

			TRADE.CIRC.Contact('c2', 50, 120);
			TRADE.CIRC.Contact('c3', 625, 212);
		
			TRADE.CIRC.Neutral('n1', 625, 40);

			//TRADE.CIRC.SPSTSwitch('spst1', 120, 120, 'sc1', 'sc2', 'noswitch');
			//TRADE.CIRC.LightBulb('l1', 'lc1', 'lc2', 290, 60);

			TRADE.CIRC.DrawWire('w1', 'blue', 3, [50, 40, 50, 120]);
			TRADE.CIRC.DrawWire('w2', 'blue', 3, [50, 120, 120, 120]);
			TRADE.CIRC.DrawWire('w3', 'blue', 3, [160, 210, 290, 210]);
			TRADE.CIRC.DrawWire('w4', 'blue', 3, [360, 210, 625, 210]);
			TRADE.CIRC.DrawWire('w5', 'blue', 3, [625, 210, 625, 40]);
			
		%>
		<% TRADE.GameData.answer = '7'; %>
	</script>

	<script type="text/html" class='slide' id='slide1'>
		<p>This is slide 4. </p>
		<% TRADE.GameData.answer = '3'; %>
		
	</script>

	<script type="text/html" class='slide' id='slide1'>
		<p>This is slide 5. </p>

		<% TRADE.GameData.answer = '5'; %>
	</script>

</div>