#sign_in {
	color:white;
	font-size:18px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	float:right;
	padding: 3px 5px;
	font-weight: bold;
	margin:15px 0 0 0;
}

#sign_in:hover {
	background-color: #535CAB;
	cursor:pointer;
}


#sign_up:hover {
	background-color: #535CAB;
	cursor:pointer;
}

#sign_in_form {
	float:right;
	margin-top:-25px;
	padding:0;
}




#sign_up {
	color:red;
	font-size:18px;
	border-left: 1px solid red;
	border-right: 1px solid red;
	float:right;
	padding: 3px 5px;
	font-weight: bold;
}

#sign_up_container {
	position:fixed;
	z-index:6;
	width:30%;
	height:55%;
	top:30%;
	left:35%;
	background-color: white;
	border: 3px solid #2C0E78;
	
	color:black;
}

#signup_header {
	width:100%;
	height:50px;
	background-color: #472894;
	color:white;
	
}

#signup_header h1 {
	padding:5px;
	margin:0;
}

#mid_wrapper {
	width:100%;
	height:300px;
	/*background-color: #CCB8FF;*/
	background-color: #5935B6;
	border-top: 8px solid rgba(198, 247, 255, 0.74);
	/*border-top: 8px solid #CCB8FF;*/
	float:left;
	margin:40px 0;
}

#mid_wrapper > .wrapper{
	margin-top:0 !important;
}

.tagline {
	font-size: 22px;
	color:#150246;
	font-family:'titleh2';
	padding:0;
	margin:0;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-top: 40px solid rgba(198, 247, 255, 0.74);
	margin:0 0 -50px -10px;
}