/*#sign_in {
	color:white;
	font-size:14px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	float:right;
	margin:0;
}
*/
#sign_in input {
	width: 70px;
	height:30px;
	background-color: transparent;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	cursor:pointer;
	}


#sign_in:hover {
	background-color: #535CAB;
	cursor:pointer;
}

#sign_in_inputs {
	color:white;
}

.sign-in-active {
	background-color: #8484FF !important;
}

#sign_in_form {
	font-size: 13px;
	
}


#sign_up:hover {
	background-color: red;
	color:white;
	cursor:pointer;
	
}

#sign_up {
	background-color: white;
	color:red;
	font-size:18px;
/*	border-top: 4px solid rgba(21, 2, 70, 0.56);
	border-bottom: 4px solid rgba(21, 2, 70, 0.56);
	border-left: 5px solid rgba(21, 2, 70, 1);
	border-right: 5px solid rgba(21, 2, 70, 1);*/
	float:right;
	padding: 5px 25px;
	font-weight: bold;
	box-shadow: #929292 2px 2px 8px;
	-moz-box-shadow: #929292 2px 2px 8px;
	-webkit-box-shadow: #929292 2px 2px 8px;
}

.submit-green input {
 	background-color: rgb(0, 134, 0);	
}

#sign_up_container {
	position:fixed;
	z-index:6;
	width:30%;
	min-width: 250px;
	padding:20px;
	left:35%;
	height:400px;
	top:10%;
	background-color: rgb(111, 255, 111);
	border: 3px solid rgb(0, 134, 0);
	
	color:black;
}

#sign_up_container input {
		margin:10px 0 15px 0;
}

#signup_header {
	width:100%;
	height:50px;
	background-color: rgb(0, 134, 0);
	color:white;
	text-align: center;
	
}

#signup_header h1 {
	padding:10px 0;
	margin:0;
	font-size: 40px;
}

.light-blue {
	background-color: rgba(255, 31, 31, 1);
}

#mid_wrapper {
	width:100%;
	/*height:300px;*/
	/*background-color: #CCB8FF;*/
	/*background-color: rgba(90,209,90,.8);*/
	background-color: rgba(255, 50, 50, 0.9);
	/*background-color: rgba(1, 0, 69, 0.78);*/
	/*background-color: #5935B6;*/
	border-top: 8px solid rgba(255, 31, 31, 1);
	/*border-top: 8px solid #CCB8FF;*/
	float:left;
	/*margin: 0;*/
	color:white;
}

#mid_wrapper > .wrapper{
	margin-top:0 !important;
}

#mid_wrapper h3 {
	font-size:22px;
}

#mid_wrapper p {
	font-size:18px;
	font-style: italic;
}

.tagline {
	font-size: 30px;
	width:960px;
	color:#150246;
	padding:0;
	margin:20px 0;
	font-family: Georgia;
	text-align: center;

	font-weight: normal;

}

.arrow-down {
	position:relative;
	width: 0; 
	height: 0; 
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-top: 40px solid rgba(255, 31, 31, 1);
	margin:0 0 -50px -10px;
}

#bottom_wrapper {
	width:100%;
	height:400px;
	background-color: rgba(0, 206, 16, 0.56);
	float:left;
}

#signup {
	display: block;
	width:200px;
	margin-left: auto;
	margin-right: auto;
	height:100%;
}

#signup input, #sign_in_inputs input  { 
	/*padding: 5px;*/

	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF;
	height:26px;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

input:hover, input:focus, { 
	border-color: #C9C9C9; 
	}

.form label { 
	margin-left: 10px; 
	color: #999999; 
	}

/*input, textarea {
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #D8D8D8), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8 1px, #FFFFFF 25px);
	}*/

#top_wrapper {
	width:100%;
	height:270px;
	background-color: #9d9d9d;
	float:left;
}

#learn_mid_wrapper {
	width:100%;
	height:270px;
	background-color: #FFDAA3;
	float:left;
}

.two-third {
	width:640px;
	float:left;
}

.one-third {
	width:320px;
	float:right;
	background-color: rgba(202, 209, 215, 0.39);
	height:320px;
	box-shadow:3px 2px 2px #B3B3B3;
	margin-top:40px;
}

.perk-card:last-child {
	margin-bottom: 40px;
}

.perk-card {
	padding:40px 20px 0 0;
}
.perk-card h3 {
	font-size: 23px;
	color: #083898;
	font-style: italic;
	padding: 0;
	margin:0;

}

.perk-card p {
	padding:10px 120px 10px 20px;
	font-size: 17px;
	margin: 0;
}

.free-month-wrapper {
	width:320px;
	float:left;
	margin: 0 0 20px 0;
	padding:20px 0;
	color:white;
	font-size: 23px;
	text-align: center;
	background-color: rgba(8, 56, 152, 0.72);
}

.free-month-dialogue {
	float:left;
	width:280px;
	padding:20px 10px;
	margin:25px 10px;
	background-color: white;
	box-shadow: 2px 2px 2px #CCCCCC;
	border-radius: 15px;
	font-size: 17px;
	text-align: center;
}

.sign-up-free-month {
	background-color: rgb(218, 48, 48);
	padding:15px 0;
	width:160px;
	color:white;
	font-weight: bold;
	float:left;
	margin: 15px 80px 0px 80px;
	text-align: center;
	box-shadow: 2px 2px 2px #CCCCCC;
	border-radius: 20px;
	font-size: 23px;
}