#sign_in {
	color:white;
	font-size:14px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	float:right;
	padding: 3px 5px;
	margin:0;
}

#sign_in:hover {
	background-color: #535CAB;
	cursor:pointer;
}

#sign_in_inputs {
	margin-right:15px;
	color:white;
}

.sign-in-active {
	background-color: #8484FF !important;
}

#sign_in_form {
	float:right;
	margin-top:15px;
	padding:0;
}


#sign_up:hover {
	background-color: #535CAB;
	cursor:pointer;
}

#sign_up {
	background-color: red;
	color:white;
	font-size:18px;
	border-top: 2px solid #FF8686;
	border-bottom: 2px solid #FF8686;
	border-left: 4px solid #C80000;
	border-right: 4px solid #C80000;
	float:right;
	padding: 3px 5px;
	font-weight: bold;
}

#sign_up_container {
	position:fixed;
	z-index:6;
	width:30%;
	height:55%;
	top:30%;
	left:35%;
	background-color: white;
	border: 3px solid #2C0E78;
	
	color:black;
}

#signup_header {
	width:100%;
	height:50px;
	background-color: #472894;
	color:white;
	
}

#signup_header h1 {
	padding:5px;
	margin:0;
}

#mid_wrapper {
	width:100%;
	/*height:300px;*/
	/*background-color: #CCB8FF;*/
	background-color: #3000AD;
	/*background-color: #5935B6;*/
	border-top: 8px solid rgba(198, 247, 255, 0.74);
	/*border-top: 8px solid #CCB8FF;*/
	float:left;
	/*margin: 0;*/
	color:white;
}

#mid_wrapper > .wrapper{
	margin-top:0 !important;
}

#mid_wrapper h3 {
	font-size:22px;
}

#mid_wrapper p {
	font-size:18px;
	font-style: italic;
}

.tagline {
	font-size: 22px;
	color:#150246;
	font-family:'titleh2';
	padding:0;
	margin:0;
}

.arrow-down {
	position:relative;
	width: 0; 
	height: 0; 
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-top: 40px solid rgba(198, 247, 255, 0.74);
	margin:0 0 -50px -10px;
}

#bottom_wrapper {
	width:100%;
	height:400px;
	background-color: #010045;
	float:left;
}
