body {
	width:100%;
	height:100%;
	margin:0px;
	font-family: Arial, Helvetica, Sans-serif;
	background-color: #F7F7F7;
}

@font-face {
    font-family: "title";
    src: url(../fonts/PlaytimeOblique.ttf) format("truetype");
}

@font-face {
    font-family: "titleh2";
    src: url(../fonts/Artifika-Regular.ttf) format("truetype");
}

.fright {
	float:right;

}
.fleft{
	float:left;
}

/* -------------------  HEADER --------------- */

#header {
	width:100%;
	height:50px;
	background-color: #150246;
	/*background-color: #2C0E78;*/
}

#header h1 {
	margin:0px;
	font-size: 30px;
	padding-top:15px;
	font-family: 'title';
	font-weight: normal;

}

#header a {
	text-decoration: none;
	color:#FFFFFF;
}

#header a:visited {
	text-decoration: none;
	color:#FFFFFF;
}

#header h2 {
	margin:0 15px;
	font-size: 18px;
	width:600px;
	font-family: 'titleh2';
	display:inline;
}


/* -------------------------------------------- */

#footer {
	width:100%;
	height:100px;
	float:left;
}

.wrapper {
	width:960px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	font-size:16px;

}

.hidden{
	display:none;
}

#main_wrapper {
	float:left;
	width:100%;
	/*margin-top: 20px;*/
}

#title_wrapper {
	width:960px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#title_wrapper h1 {

}

#canvas {
	position:relative;
	background-color: white;
	/*width:700px;
	height:500px;*/
	border: 1px solid #C0C0C0;
	border-radius:15px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

#level_container {

	margin-top:25px;
}

#res_canvas {
	position: absolute;
	top:0px;
	left:0px;
}

.transformer {
	width:102px;
	height:115px;
	position:absolute;
	/*z-index:12;*/
	top:250px;
	left:370px;
}


.tr-left {
	width:40px;
	height:90px;
	position:absolute;
	background-color:white;
	margin-top:12.5px;
	border-width: 1px 0px 1px 1px;
	border-style:solid;

	border-color:#424242;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
}

.tr-center {
	position:absolute;
	left:41px;
	width:20px;
	height:115px;
	background-color:#424242;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.tr-right {
	left:61px;
	width:40px;
	height:90px;
	position:absolute;
	background-color:white;
	margin-top:12.5px;
	
	border-style:solid;
	border-width: 1px 1px 1px 0px;
	border-color:#424242;
	border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	
}

.heater {
	width:220px;
	height:50px;
	position:absolute;
	background-color:#cfcfcf;		

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border:2px solid #585858;
	
}

.heater-on {
	top:0px;
	left:0px;
	opacity:.30;
	background-color:red;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	width:220px;
	height:50px;
	position:absolute;
	display:none;

}



.spstswitch {
	position:absolute;
	width: 60px;
	height: 120px;
	background-color: grey;
	border-radius: 8px;
}

.switch {
	position: absolute;
	width:30px;
	height:70px;
	background-color: #949494;
	top:25px;
	left:15px;
	border-radius: 5px;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	cursor:pointer;
	
}

.switch p {
	margin-top: 7px;
}

.switch-off {
	position: absolute;
	top:35px;
	width:30px;
	height:35px;
	background-color: red;
	border-radius: 0px 0px 5px 5px;
}

.switch-on {
	position: absolute;
	width:30px;
	height:35px;
	background-color: green;
	border-radius: 5px 5px 0px 0px;
}

.light-bulb {
	width:95px;
	background-color: blue;
}

.relay {
	position:absolute;
	width:130px;
	height:90px;
	background-color: grey;
	border-radius: 8px 8px 0px 0px;
}

.highlight-wire {
	opacity:.6;
	background-color:red;
	padding:20px;
}

/* ------------------- VIEWS --------------------- */

.chapter-list {
	width:914px;
	height:60px;
	float:left;
	/*background-color: #FFFFFF;*/
/*	background-color: rgba(0, 0, 255, 0.15);*/
	/*padding: 15px 20px;*/
	/*border: 1px solid #9094FF;*/
	margin:0;
	/*box-shadow: 5px 5px 2px #DEDEDE;*/
}

.chapter-container {
	width:914px;
	padding:40px 23px;
	border-bottom: 1px dashed black;
	float:left;
}

.inactive {
	color:#8C8C8C;
	background-color: #B9B9B9 !important;
}

.chapter-list h3 {
	font-size:18px;
	display:inline;
}

.chapter-list p {
	font-size:16px;
	display:inline;
}

.no-decoration {
	text-decoration: none;
}

.card-hover {
	background-color: blue !important;
	/*background-color: #FFBABA !important;*/
}

.user-card {
	color:white;
	width:306px;
	float:right;
	height:200px;
	/*background-color: rgba(74, 105, 204, 0.96);*/
	background-color: rgba(0, 16, 66, 0.77);
	padding:20px;
	border: 1px solid #9094FF;
	/*box-shadow: 5px 5px 2px #DEDEDE;*/

}

.user-chapter-card {
	color:#2C0E78;
	width:307px;
	float:right;
	height:200px;
	background-color: #FFFFFF;
	padding:20px;


}

.class-title {
	width:950px;
	background-color: #FFFFFF;
	border:1px solid #9094FF;
	margin: 15px 0 5px 0;
	box-shadow: 5px 5px 2px #DEDEDE;

}

.class-title h1 {
	margin:0 0 0 20px;
	padding:18px 0;
	color:#2C0E78;
	font-size:24px;
}

.chapter-title {
	margin-top: 15px;
	width:958px;
	background-color:white;
	border: 1px solid #9094FF;
	border-bottom: 0;

}

.chapter-title h1 {
	padding:0 15px;
	color:#2C0E78;
	font-size:22px;
}

.lesson-container {
	width:304px;
	float:left;
	padding:0;
	margin:0;
}

.lesson-list {
	width:274px;

	height:50px;
	background-color: #DDD6FF;
	padding:5px;
	margin:5px 10px;
}

.odd {
	background-color: #C2C2FF;
}

.lesson-list h1 {
	font-size: 16px;
}

.lesson-list h2 {
	font-size: 14px;
}

#lesson_list_container {
	border: 1px solid #9094FF;
	float:left;
}

.problem-container {
	width:320px;
	height:100px;
	background-color: red;
	float:left;
	display:inline;
	padding:0;
	margin:0;
}

.problem-container a {

}

#problem_subnav {
	width:200px;
	background-color: blue;
	float:left;
}

/*.problem-list {
	background: #FFCACA !important;
}*/

/* ------------------------------------------------- */




/* ------------------- SLIDES ---------------------- */

.slide-nav {
	width:960px;
	float:left;
	border: 1px solid #9094FF;
	background-color: #BDCAFF;
}


.slide-left {
	width:50px;
	height:50px;
	float:left;
}


.slide-right {
	width:50px;
	height:50px;
	float:right;
}

#slide_index {

	font-size: 18px;
	text-align:center;
	padding:10px 0;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.slide-active {
	font-size:22px;
	font-weight:bold;
}

#slide_wrapper {
	background-color: #FFFFFF;
	border: 1px solid #9094FF;
	border-top:0;
	float:left;
	padding:15px;
	width:930px;
}

.problem-nav {
	width:960px;
	float:left;
	background-color: rgba(255, 0, 0, 0.77);
	border: 1px solid #FF9390;
}

.problem-wrapper{
	border: 1px solid #FF9390 !important;
}

.problem-index {
	display:inline-block;
	padding:5px 8px;
	width:30px;
	border-radius: 8px;
	margin:0 5px;
	text-align: center;
	font-size: 16px;
	color:red;
	border: 1px solid red;
	background-color: #A7A7A7;
}

.unlocked {
	background-color: #FFFFFF !important;
}

.unlocked:hover {
	background-color: #FFBABA !important;
}

.relative {
	position: relative;
}

#answer_question {
	position:absolute;
	top:15px;
	left:20px;
	font-size: 20px;
	color:#FFFFFF;
	font-weight:bold;
	margin:0;
	padding:0;

}

#answer_container {
	float:left;
	width:960px;
	margin:0;
	padding:0;
	color:rgb(56, 56, 56);
	font-size:18px;
	background-color: rgba(255, 144, 149, 0.83);
	border: 1px solid #FF9390 !important;
	border: 0 1px 0 1px;
}

.bold {
	font-weight:bold;
}

#answer_container ul {
	margin:0;
	padding:10px 0 10px 20px;
	list-style: none;
	font-size:16px;
}

#answer_container li {
	font-size: 16px;
	margin:3px 20px 3px 0;
	padding:3px 0 3px 30px;
}

#answer_categories {
	float:left;
	width:175px;
	border-right:1px solid rgb(255, 115, 115);
}

#answer_categories ul:hover {
	background-color: white;
}

#answer_options {
	float:left;
	width:300px;
	height:100%;
}

.answer-sub-list li:hover {
	background-color: white;
}

#shadow {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: black;
	display:none;
	z-index:5;
	opacity: .7;
}

#correct {
	position:fixed;
	width:500px;
	height:400px;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid red;
	border-radius: 10px;
	z-index:6;
	margin-left:auto;
	margin-right:auto;
}

#incorrect {
	position:fixed;
	width:500px;
	height:400px;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid red;
	border-radius: 10px;
	z-index:6;
	margin-left:auto;
	margin-right:auto;
}

.problem-nav-active {
	font-weight: bold;
	font-size: 20px;
}


/* -------------------------------------------------- */

#mycanvas {
	position:relative;
}


#logout {
	padding-top:20px;
}

/* ------------------ COLUMN STYLES ------------------ */

.column_3 {
	width:300px;
	float:left;
	padding: 10px;
	text-align:center;
}

.column_3 h3 {
	padding:0;
	margin:0;
}

.clear {
	clear:both;
}

.light-blue {
	background-color: rgba(198, 247, 255, 0.74);
	color:black;
}

/* ------------- class list --------------------- */

.class-list {
	width:480px;

	float:left;
	/*background-color: red;*/
}

.class-item {
	margin:20px 20px 0 20px;
	width:400px;
	height:275px;
	padding:20px;
	background-color: rgba(0, 0, 255, 0.15);
	text-align: center;
}

.class-item h2 {
	margin:0;
	padding:0;
}

/* --------------------- SUBNAV --------------------- */

#subnav_container {
	width:960px;
	background-color:white;
	float:left;
	/*border: 0 1px 1px 1px;*/
	border-left:1px solid #9094FF;
	border-right:1px solid #9094FF;
	border-bottom:1px solid #9094FF;

}

#subnav_container ul {
	margin:0;
	padding:0;
}

#subnav_container li {
	margin:0;
	padding:8px 35px;
	display:inline-block;
}

#body_container {
	width:960px;
	background-color:white;
	float:left;
	/*border: 0 1px 1px 1px;*/
	border-left:1px solid #9094FF;
	border-right:1px solid #9094FF;
	border-bottom:1px solid #9094FF;
}

.margin-top {
	margin-top: 40px;
}

.margin-top20 {
	margin-top: 20px;
}

.margin-bottom {
	margin-bottom: 40px;
}

.padding-bottom {
	padding-bottom: 40px;
}