<!DOCTYPE HTML>

<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>HVAC Game</title>
	<link rel='stylesheet' href='/css/main.css'	/>
	
	<!-- load libraries -->
	<script src="/libs/jquery.js"></script>
	<script src="/libs/kinetic.js"></script>
	<script src="/libs/underscore.js"></script>
	<script src="/libs/backbone.js"></script>
	<script src='/js/main.js'></script>
	<script src="/js/models/chaptermodel.js"></script>
	<script src="/js/models/classmodel.js"></script>
	<script src="/js/models/usermodel.js"></script>
	<script src="/js/models/lessonmodel.js"></script>
	<script src="/js/collections/chaptercollection.js"></script>
	<script src="/js/collections/lessoncollection.js"></script>
	<script src="/js/views/chapterlistview.js"></script>
	<script src="/js/views/chapterview.js"></script>
	<script src="/js/views/chaptertitleview.js"></script>
	<script src="/js/views/usercardview.js"></script>
	<script src="/js/views/userchapterview.js"></script>
	<script src="/js/views/classview.js"></script>
	<script src="/js/views/lessonlistview.js"></script>
	<script src="/js/views/lessonview.js"></script>

	<script src='/js/objects.js'></script>
	<script src='/js/variables.js'></script>

	
	<script src='/js/routers/router.js'></script>
	<script type="text/html" id='slide1'>
		<p>This is slide 1. </p>
		<%= HVAC.Create(700, 350) %>
		<%=	HVAC.Set('problem_01', 'switch') %>
		<%=	HVAC.Line1('line1', 50, 40) %>
		<%=	HVAC.Contact('c2', 50, 120) %>
		<%=	HVAC.Contact('c3', 625, 212) %>
		
		<%=	HVAC.Neutral('n1', 625, 40) %>

		<%=	HVAC.SPSTSwitch('spst1', 'sc1', 'sc2', 120, 120, 'noswitch') %>
		<%=	HVAC.LightBulb('l1', 'lc1', 'lc2', 290, 60) %>

		<%=	HVAC.DrawWire('w1', 'blue', 3, [50, 40, 50, 120]) %>
		<%=	HVAC.DrawWire('w2', 'blue', 3, [50, 120, 120, 120]) %>
		<%=	HVAC.DrawWire('w3', 'blue', 3, [160, 210, 290, 210]) %>
		<%=	HVAC.DrawWire('w4', 'blue', 3, [360, 210, 625, 210]) %>
		<%=	HVAC.DrawWire('w5', 'blue', 3, [625, 210, 625, 40]) %>
		
	</script>
	<script type="text/html" id='slide1b'>
		<p>This is slide 1b. </p>
		<%= HVAC.Create(700, 350) %>
		<%=	HVAC.Set('problem_01', 'switch') %>
		<%=	HVAC.Line1('line1', 50, 40) %>
		<%=	HVAC.Contact('c2', 50, 120) %>
		<%=	HVAC.Contact('c3', 625, 212) %>
		
		<%=	HVAC.Neutral('n1', 625, 40) %>

		<%=	HVAC.SPSTSwitch('spst1', 'sc1', 'sc2', 120, 120, 'noswitch') %>
		<%=	HVAC.LightBulb('l1', 'lc1', 'lc2', 290, 60) %>

		<%=	HVAC.DrawWire('w1', 'blue', 3, [50, 40, 50, 120]) %>
		<%=	HVAC.DrawWire('w2', 'blue', 3, [50, 120, 120, 120]) %>
		<%=	HVAC.DrawWire('w3', 'blue', 3, [160, 210, 290, 210]) %>
		<%=	HVAC.DrawWire('w4', 'blue', 3, [360, 210, 625, 210]) %>
		<%=	HVAC.DrawWire('w5', 'blue', 3, [625, 210, 625, 40]) %>
		
	</script>



</head>
<body>
	<div id='header2'>
		<div id='header_wrapper'>
			<div class='fleft'>
				<h1>TRADE TRAINER</h1>
			</div>
			<span class='fright'>LogOut</span>
		</div>
	</div>

	<div id='title_wrapper'></div>
	<div id='wrapper'></div>
	<div id='footer'></div>
</body>
</html>