<div>
	<div id='problem_nav_level'>
		<ul id='level_list'>
			<li data-level='All'>All</li>
			<li data-level='Rookie'>Rookie</li>
			<li data-level='Apprentice'>Apprentice</li>
			<li data-level='Journeyman'>Journeyman</li>
		</ul>
	</div>



	<div id='problem_subnav'>
		Choose classroom:
		<ul id='classroom_list'>
			<li class='active-problem-nav' data-classroomid='528a6a2eb013f3d2ec0002cc'>Electrical Circuitry</li>
			<li data-classroomid='529e756a90364e252700022b'>Airflow</li>
			<li data-classroomid='529e71f190364e133d00021b'>Refrigeration</li>
		</ul>
	</div>	

</div>